button {
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	font-size: 1.8rem;
	color: $color-black;
	background-color: $color-primary-landing-1;
	letter-spacing: -1px;
	transition: all 0.3s;
	line-height: 1;
	border: 1px solid $color-primary-landing-1;
	padding: 1rem 2rem;
	text-transform: capitalize;
	font-weight: 400;
}
